# dependencies
/node_modules

# next.js build output (regenerated automatically, never edit or commit this)
/.next/
/out/

# production build
/build

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
